.container {
  background-color: #1e1e1e;
  color: white;
  text-align: left;
  margin: 0 auto;
  padding: 100px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-body {
  width: 1200px;
}

h1, h2 {
  font-weight: 400;
  letter-spacing: 1px;
}

a {
  color: inherit;
}

/* colors */
.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}